@charset "UTF-8";
/* CSS Document */

/*******************DOCUMENT PROPERTIES**********/
html { }
body { font-size: 120%; line-height: 1.500; margin: 0; padding: 0; color: gray; background: #fff; font-family: 'Oswald', sans-serif;   }
ul, li { font-family:'Oswald', sans-serif; }
ul { display: block; }
div {display: block; }
/*******************HEADER***********************/
#top { height: 150px; background: #3488C4; border: 2px solid black; border-radius: 10px; margin: 20px 0px 30px 20px; }
#top .logo { position: absolute; top: 12px;left: 0px; z-index: 10; }
.top-right { float: right; position: relative; width: 100%; height: 150px; }
/*COMPANY INFO TOP RIGHT */
.corner-company-a { float: right; font-family:'Oswald', sans-serif; }
.corner-company-a .title { display: block; color: black; font-size: 2.5em; font-family: inherit; padding: 0; margin: -5px 5px -10px 0px;text-shadow: -1px -1px 0px #FFF, 1px -1px 0px #fff, -1px 1px 0px #fff, 1px 1px 0px #fff; }
.corner-company-a .company-info { display: block; font-size: 1em; color: white; font-family: inherit; padding: 0; margin: -2px 5px -2px 0; clear: right; }
.corner-company-a .telefono { display: block; font-size: 1.3em; color: white; font-family: inherit; padding: 0; margin: 0 5px 0 0; clear: right;
	text-shadow: -1px -1px 0px #000,
				  1px -1px 0px #000,
				  -1px 1px 0px #000,
				  1px 1px 0px #000;
}
.corner-company-a a { opacity: .6; display: block; padding: 0 px; margin: 0 5px; float: right;transition: opacity 0.2s; }
.corner-company-a > a:hover { opacity: 1;}

/*NAV BAR*/
#navbar { position: absolute;  clear: left; bottom: -2px; float: left; margin: 0; padding: 0; z-index: 200; box-sizing: border-box; }
#navbar ul{ list-style: none; margin: 0; padding: 0; }
#navbar > ul { list-style-type: none; margin: 0 0 0 0; padding: 0; float: left; }
#navbar > ul > li:first-child { margin-left: 125px; }
#navbar > ul > li { float: left; position: relative; margin: 2px; padding: 0px; height: 25px; line-height: 25px; text-decoration: none; transition: all 0.4s; }
#navbar ul li a { color:#FFF; text-decoration: none !important; text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000; }
#navbar > ul > li > a { float: left; line height: 25px; transition-property: all; transition-duration: 0.25s; padding: 0 20px 0px 20px; margin: 0 0 0 0; border-left: 2px solid transparent; border-top: 2px solid transparent; border-right: 2px solid transparent; border-top-left-radius: 5px; border-top-right-radius: 5px; font-size: 0.9em; font-weight: normal; transition: background-color 0.4s, color 0.4s, border-color 0.4s, text-shadow 0.4s, letter-spacing 0.8s; }
#navbar ul li a:hover, #navbar > ul > li:hover > a { color:#C51A2D; /*#3488C4;*/ background-color: #fff; border-color: black;}

/*NAV BAR PULL DOWN*/
#navbar ul ul { display: block; postition: absolute; z-index: 110; width: 192 px; padding: 0 0 6px; border: 2px solid black; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background: #fff; zoom: 1; }
#navbar > ul > li > ul {white-space: nowrap; display: inline ;list-style-type: none; position: absolute; width: auto; top: 27px; left: 0; padding: 10px 0 10px 0;  opacity: 0; text-align: center; list-style: none; visibility:hidden; }
#navbar > ul > li ul li{ display: inline;  float: left; padding: 0; margin: 5px 2px;  }
#navbar ul li:hover > ul{ visibility: visible; border-top:none; opacity: 1.0; }
#navbar ul ul li a {display: block; padding: 1px 2px; background:#fff; color: black; text-shadow: none; transition-property: color; transition-duration: 0.3s; }
#navbar ul ul li { top:100%; padding: 0 15px; font-size: 0.75em; line-height: 1.000em;text-transform: none; }

/*NAV BAR EQUIPMENT PULL DOWN */ 

#navbar > ul > li.cat_menu > ul { visibility: hidden; display: inline ;list-style-type: none; position: absolute; top: 27px; left: 0; padding: 10px 0 10px 0;  opacity: 0; text-align: center; list-style: none; }
#navbar > ul > li.cat_menu ul li{ display: inline;  float: left; padding: 0; margin: 5px 2px;  }
#navbar ul  li.cat_menu:hover > ul{ visibility: visible; border-top:none; opacity: 1.0; } 
/*Content*/
#content { width: 960px; text-align: center; margin:auto; }

	